<div style="overflow: scroll; width: 1500px; margin: 20px;">
  <div class="inTable">
    <!-- Kanban board Header -->
    <div class="header inTableRow">
      <div class="inTableCell"><!-- Reserved for lane name in cards section --></div>
      <div ng-repeat="stage in dataset.board.stages" class="inTableCell">
        <!-- If there is substage -->
        <div ng-if="stage.board">
            <div class="stage">
                $$stage.name$$ <span class="wip">$$stage.wip$$</span>
            </div>
            <div class="inTableRow">
              <div ng-if="stage.board.isChildBoard" class="colWidth inTableCell">&nbsp;</div>
              <div ng-repeat="substage in stage.board.stages" class="inTableCell $$getColumnWidthCSS(substage.lanes.length)$$">
                <div>
                  <div class="substage">
                    $$substage.name$$ <span class="wip">$$substage.wip$$</span>
                  </div>
                  <div ng-if="substage.lanes" class="colWidth floatLeft sublane">&nbsp;</div>
                  <div ng-repeat="sublane in substage.lanes" class="colWidth floatLeft sublane">$$sublane.name$$</div>
                </div>
              </div>
            </div>
        </div>
        <div ng-if="!stage.board" class="colWidth">
          <div class="stage">$$stage.name$$ <span class="wip">$$stage.wip$$</span></div>
        </div>
      </div>
    </div>
    <!-- Kanban board lane content -->
    <div ng-repeat="lane in dataset.board.lanes" class="content inTableRow maxHeight">
      <div class="inTableCell">
        <div class="lane laneName">$$getLaneName(lane)$$</div>
      </div>
      <div ng-repeat="stage in dataset.board.stages" class="inTableCell maxHeight" ng-init="boardInfo = buildBoardInfo(dataset.board, stage, lane)">
        <div ng-if="stage.board" class="inTable maxHeight">
          <div class="inTableRow maxHeight">
            <div ng-if="stage.board.isChildBoard" class="colWidth inTableCell maxHeight" ui-on-drop="updateCard($data, $channel, $event)" id="$$getUniqueStageId([boardInfo])$$">
              <div ng-repeat="card in getCards(dataset.cards, [boardInfo])">
                <kanban-card dataset="card" class="mainCard floatLeft"></kanban-card>
              </div>
            </div>
            <div ng-repeat="substage in stage.board.stages" class="floatLeft borderBottom maxHeight inTable" ng-init="subBoardInfo = buildBoardInfo(stage.board, substage, null)">
              <div ng-if="!stage.board.isChildBoard" class="colWidth floatLeft sublane maxHeight" ui-on-drop="updateCard($data, $channel, $event)" id="$$getUniqueStageId([boardInfo, subBoardInfo])$$">
                <div ng-repeat="card in getCards(dataset.cards, [boardInfo, subBoardInfo])" class="inTableRow maxHeight">
                  <kanban-card dataset="card" class="mainCard floatLeft"></kanban-card>
                </div>
              </div>
              <div ng-if="substage.isChildShown" ng-repeat="sublane in substage.lanes" class="colWidth floatLeft sublane maxHeight" ng-init="taskBoardInfo = buildBoardInfo(stage.board, substage, sublane)" ui-on-drop="updateChildCardLane($data, $channel, $event)" id="$$getUniqueStageId([boardInfo, taskBoardInfo])$$">
                <div ng-repeat="child in getChildCardsByLane(dataset.cards, [boardInfo, subBoardInfo], sublane)">
                  <kanban-card dataset="child" class="childCard"></kanban-card>
                </div>
              </div>
              <div ng-if="stage.board.isChildBoard" class="maxHeight">
                <div class="colWidth maxHeight" ui-on-drop="updateChildCardStage($data, $channel, $event)" id="$$getUniqueStageId([boardInfo, subBoardInfo])$$">
                  <div ng-repeat="child in getChildCardsByStage(dataset.cards, [boardInfo], [subBoardInfo])">
                    <kanban-card dataset="child" class="childCard"></kanban-card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="!stage.board" class="colWidth maxHeight" id="$$getUniqueStageId([boardInfo])$$" ui-on-drop="updateCard($data, $channel, $event)">
          <div ng-repeat="card in getCards(dataset.cards, [boardInfo])">
            <kanban-card dataset="card" class="mainCard"></kanban-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
